/*
    For classes class = "highlite"
    .highlite{
        color:DarkCyan
    }
    For id = "offset"
    #offset{
        color:"DarkCyan"
    }
*/

/* William T. Wiley and the
lant Step: All on the Line */

body{
    margin-top:50px;
}
.Titlecontent{
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    color: #022851;
    /* font-size: 50px; */
}
#logo_text{
    padding-left: 20px;
}
h1#title1.header_element{
    font-size: 50px;
    margin-bottom: 0px;
}
h1#title2.header_element{
    font-size: 50px;
    margin-top: 0px;
}
/* Circle, Name of website, William Title */
header{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    /* background-color: green; */
}

#stripe{
    background-color: #008278;
    position:absolute;
    z-index: -1;
    height : 165px;
    width: 100%;
    opacity: 0.1;
    margin-top: 85px;
    /* Z index is for layers */
}

#logo_area{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* background-color: orange; */
} 

/* jan shrem and maria */
#logotext1{ 
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Montserrat';
    /* background-color: blue; */
}

/* manetti shrem */
#logotext2{
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    color: #008278;
    font-family: 'Montserrat';
    /* background-color: red; */
}

/* museum of art */
#logotext3{
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Montserrat';
    /* background-color: purple; */
}

/* Circle */
img.logo_element{
    width: 100px;
    height: 100px;
    /* margin: 15px; */
    /* background-color: cyan; */
}

main{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Montserrat';
    /* padding-right: 10px;
    padding-left: 10px; */
    width:100%;
    height: 100%;
    padding-top: 30px;
    /* padding-left: 50px; */
    /* background-color: tan */
}

img {
    width: 100%;
    /* background-color: brown; */
}

.tile1{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: cyan; */
    font-size: 20px;
    width:100%;
    height:100%;
    margin-left:170px;
    padding-right: 75px;
}

p.bodytext#tile1id{
    padding-top: 40px;
}

p.bodytext#tile2id{
    padding-bottom: 30px;
    padding-top: 20px;
    display: none;
}
p.bodytext#tile2idbelow{
    padding-bottom: 30px;
    padding-top: 40px;
}
.tile2{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    width: 100%;
    height:100%;
    margin-right: 170px;
    padding-left: 45px;
    /* padding-top: 35px; */
    /* justify-content: flex-end; */
}
figcaption{
    font-size: 14px;
}
figure{
    margin: 0px;
}
@media only screen and (max-width: 1000px) 
{
    header{
        display:flex;
        flex-direction:column;
        align-content: center;
        padding: 0%;
        margin:0%;
        width:100%;
    }
    img{
        width:100%;
    }
    img.logo_element{
        width: 75px;
        height: 75px;
        /* margin: 15px; */
        /* background-color: cyan; */
    }
    #logo_text{
        padding-left: 20px;
    }
    #stripe{
        height : 90px;
        margin-top: -55px;
        background-color: #008278;
        position:absolute;
        z-index: -1;
        width: 100%;
        opacity: 0.1;
    }
    .header_element{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h1#title1.header_element{
        font-size: 24px;
        padding: 0px;
    }
    h1#title2.header_element{
        font-size: 24px;
        padding: 0px;
    }
    .tile1{
        display: flex;
        align-items: center;
        justify-content: center;
        width:65%;
        margin: 0%;
        padding: 0%
    }
    .tile2{
        flex-direction: column-reverse;
        width:65%;
        margin: 0%;
        padding-left: 0%;
        padding-top: 80px;
    }
    p.tile1{
        font-size: 18px;
    }
    p.tile2{
        font-size: 18px;
    }
    figcaption.tile1{
        font-size: 14px;
    }
    figcaption.tile2{
        font-size: 14px;
    }
    p.bodytext#tile2id{
        padding-bottom: 30px;
        padding-top: 50px;
        display: flex
    }
    p.bodytext#tile2idbelow{
        padding-bottom: 30px;
        padding-top: 20px;
        display: none;
    }
    .bodytext{
        padding-top: 50px;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding : 0%
    }
}
/* Hello */
